{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="form-container">
        <h2>About This Project</h2>
        <p>This project is a bird classification application built using Flask, PyTorch, and React. The application allows users to upload images of birds, which are then processed by a pre-trained neural network to predict the species of the bird.</p>
        <p>The project showcases the integration of machine learning models into a web application, providing a user-friendly interface for users to interact with the model.</p>
        <p>For more details, visit the <a href="https://github.com/zulfiqarAlibalti" target="_blank">GitHub repository</a>.</p>
    </div>
</div>
{% endblock %}
